<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Basic tests" verbose="1">

    <test name="Smoke tests">
        <classes>
            <class name="ContactFormTest"/>
            <class name="LoginTest"/>
            <class name="PurchaseTest"/>
            <class name="SearchTest"/>
            <class name="SingInTest"/>
            <class name="SummerDressesTest"/>
        </classes>
    </test>
</suite>