<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Basic tests" verbose="1" parallel="tests" thread-count="2">

    <parameter name="environment" value="grid"></parameter>

    <test name="ContactFormTest" verbose="1" parallel="true">
        <parameter name="browser" value="chrome"></parameter>
        <classes>
            <class name="ContactFormTest"/>
        </classes>
    </test>

    <test name="LoginTest" verbose="1" parallel="true">
        <parameter name="browser" value="chrome"></parameter>
        <classes>
            <class name="LoginTest"/>
        </classes>
    </test>

    <test name="PurchaseTest" verbose="1" parallel="true">
        <parameter name="browser" value="chrome"></parameter>
        <classes>
            <class name="PurchaseTest"/>
        </classes>
    </test>

    <test name="SearchTest" verbose="1" parallel="true">
        <parameter name="browser" value="chrome"></parameter>
        <classes>
            <class name="SearchTest"/>
        </classes>
    </test>

    <test name="SingInTest" verbose="1" parallel="true">
        <parameter name="browser" value="chrome"></parameter>
        <classes>
            <class name="SingInTest"/>
        </classes>
    </test>

    <test name="SummerDressesTest" verbose="1" parallel="true">
        <parameter name="browser" value="chrome"></parameter>
        <classes>
            <class name="SummerDressesTest"/>
        </classes>
    </test>
</suite>